<div class="FAQ">
    <div class="faq fadeInUp" style="animation-delay: 0.5s;">
        <h2 class="question">Are you official?</h2>
        <h2 class="answer">No</h2>
    </div>
    <div class="faq fadeInUp" style="animation-delay: 0.6s;">
        <h2 class="question">What are your sources? How is the data gathered for this project?</h2>
        <h2 class="answer">
            <div class="list-group">
                <a href="https://api.covid19india.org/data.json" class="list-group-item">Daily Count Link</a>
                <a href="https://api.covid19india.org/state_district_wise.json" class="list-group-item">State Wise Data</a>
                <a href="https://api.covid19india.org/states_daily.json" class="list-group-item">District Wise Data</a>
                <a href="https://api.covid19india.org/website_data.json" class="list-group-item ">Other Raw Data</a>
                <a href="https://telegra.ph/Covid-19-Sources-03-19 " class="list-group-item ">Complete Source List </a>
            </div>


        </h2>
    </div>

   


    
</div>